index
background{
color: black;
   
}





title {
color:aqua;
font-size: 60px;    
text-align: center    
    
}
h1{
color:aquamarine;  
font-size: 30px;    
    
}
p{
color:aqua;
font-size: 60px;    
    
    
    
}
img{
align-content: center;    
    
    
    
}
page2



























page3




















page4























page5